services:
  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    # Порты не выставляем наружу, доступ только внутри сети

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile # Используем тот, где entrypoint.sh
    restart: always
    volumes:
      - static_volume:/app/staticfiles # Для раздачи статики админки
      - media_volume:/app/media
    env_file: .env
    depends_on:
      - db
      - redis
      - rabbitmq

  worker:
    build: ./backend
    command: celery -A config worker --loglevel=info
    restart: always
    env_file: .env
    depends_on:
      - api
      - rabbitmq
      - redis

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod # Используем прод-версию
    restart: always
    ports:
      - "80:80" # Входная точка в приложение
    depends_on:
      - api

  redis:
    image: redis:alpine
    restart: always

  rabbitmq:
    image: rabbitmq:3-management
    restart: always

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    restart: always
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "9000:9000"
      - "9001:9001"

volumes:
  postgres_data:
  minio_data:
  static_volume:
  media_volume: